body
{
  background-color:#c66c81;
}
hr
{

  border-style: none;
  border-top-style: dotted;
  border-color: #a5449e;
  border-width: 15px;
  width: 20%;
}
h1
{
  color:#60c0e1;
  font-family:sans-serif;
  text-decoration: underline;
}
input
{
background-color: inherit;
border-top-style: dotted;
border-color: #60c0e1;
border-width: 3px;
}
.last
{
  border-top-style: groove;
  width: 100%;
  border-width: 25px;
  border-color: #e6903a;
}
li
{
  font-style: italic;
  font-size:20px;
}
td
{
  color:orange;
  font-size:20px
}
input:focus
{
  color:#69de36;
}
textarea:focus
{
  color: #6299f2;
}
